.scroll-bar::-webkit-scrollbar {
    width: 14px;
}

.scroll-bar::-webkit-scrollbar-track {
    box-shadow: inset 0 0 14px 14px transparent;
    border: solid 4px transparent;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.scroll-bar::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 14px 14px #bbbbbe;
    border: solid 4px transparent;
    border-radius: 14px;
}

/* set button(top and bottom of the scrollbar) */
.scroll-barchat::-webkit-scrollbar-button {
    display: none;
}

@font-face {
    font-family: 'Furore';
    src: local('Furore'), url(../fonts/Furore.otf) format('opentype');
    /* other formats include: 'woff2', 'truetype, 'opentype', 'embedded-opentype', and 'svg' */
}

@font-face {
    font-family: 'JetBrains Mono';
    src: local('JetBrains Mono'), url(../fonts/JBRegular.ttf) format('truetype');
}

.modal-animation {
    animation-duration: 0.5s;
}

.notification-parent,
.notification-title,
.notification-message,
.notification-item {
    font-family: "JetBrains Mono", serif;
}

div[class^="rnc__notification-container--"] {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}

div[class^="rnc__notification-container--"]:has(> .rnc__notification) {
    visibility: visible;
    opacity: 1;
}

.react-tooltip {
    z-index: 300;
    font-family: "JetBrains Mono", serif;
}

.contexify {
    --contexify-menu-bgColor: rgba(40, 40, 40, .98);
    --contexify-separator-color: #8a4dba;
    --contexify-item-color: #fff;
    --contexify-activeItem-color: #fff;
    --contexify-activeItem-bgColor: #42245b;
    --contexify-rightSlot-color: #6f6e77;
    --contexify-activeRightSlot-color: #fff;
    --contexify-arrow-color: #6f6e77;
    --contexify-activeArrow-color: #fff;
    font-family: "JetBrains Mono", serif;
}

input[type='radio'] {
    width: 18px;
    height: 18px;
    accent-color: #8a4dba;
}
